.tc-bg-color, .input-field input {
    background-color: #15202B;
    color: white;
}

.row {
    display: flex;
    justify-content: center;
}

#navbar, #feed-container, #side-container {
    color: white;
    line-height: 3;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

#navbar {
    width: 275px;
    height: 100%;
}

.twitter-icon {
    height: 3rem !important;
    width: 45px !important;
    cursor: pointer;
}

.twitter-icon:hover {
    background-color: #162D40;
    border-radius: 50%;
}

.navbar-item div {
    display: flex;
    align-items: center;
    max-width: max-content;
    margin: 0 10px;
}

.navbar-item div:hover:not(:first-child) {
    background-color: #162D40;
    color: #1DA1F2;
    border-radius: 50px;
    cursor: pointer;
}

#feed-container {
    min-width: 600px;
    border-left: 1px solid #38444D;
    border-right: 1px solid #38444D;
}

#feed-container img {
    height: 4rem;
    width: 65px;
}

.home-bar {
    position: fixed;
    border-bottom: 1px solid #38444D;
    width: 600px;
    z-index: 1;
    background-color: #15202B;
    top: 0;
}

.active {
    color: #1DA1F2;
}

#navbar img {
    height: 2rem;
    width: 30px;
}

#navbar span {
    margin-inline-start: 15px
}

#feed-container .my-tweet {
    color: #9096A2;
}

input {
    width: 100%;
    position: relative;
    border: 0;
    padding: 0;
}

.input-field {
    display: flex;
    margin-top: 70px;
}

.profile-icon, .home-page {
    cursor: pointer;
}

.tweet-button {
    background-color: #19608E;
    border-radius: 50px;
    align-self: flex-end;
    width: 80px;
    height: 37px;
    cursor: default;
    color: #8A8F95;
    margin-inline-start: 270px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    width: 20px;
    margin-top: 10px;
    margin-left: 15px;
}

.search-icon img {
    width: 100%;
    height: auto;
}

.search-bar {
    display: flex;
    flex-direction: row;
    background-color: #263442;
    border-radius: 50px;
    height: 40px;
    width: 320px;
}

.search-bar input {
    background: #263442;
    border-radius: 50px;
    color: white
}

.feed-division {
    height: 10px;
    background: #253341;
    margin-top: 10px;
}

.tweet-display {
    font-size: 16px;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #38444D;
}