.tc-bg-color{
    background-color: #15202B;
}
.text-color{
    color: white;
    margin: 0 25px;
    line-height: 3;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.twitter-icon{
height: 3rem;
cursor: pointer;
margin: 0 25px;
}
.twitter-icon:hover{
    background-color: #162D40;
    border-radius: 50%;
}
.active{
    color: #1DA1F2;
}
.nav-item{
    height: 2rem;
    cursor: pointer;
}